/* TODO: move some things from default css here */
abbr.dotted {
  border-bottom:1px dotted;
}
.reveal section pre.narrow {
  width: 50%;
  float: left;
}


.annotated code.comments {
  font-size: 1em;
}